# Ignore App folder
AbricotinePortable/App/Abricotine

# Ignore Data folder
AbricotinePortable/Data/settings
AbricotinePortable/Data/PortableApps.comLauncherRuntimeData-VSCodiumPortable.ini

# Ignore Work folder
Work

# Ignore log
pac_installer_log.ini

# Ignore installer
AbricotinePortable/Other/Source/PortableApps.comInstaller*
*.paf.exe
